#calc_container
    #calc.flexBlock
        .flexSingle.blue
            i посчитать
            ul.calc
                li
                    #print_count.dd-container
                    p.sm Выберите нужное количество календарей.
                li
                    #poster.dd-container
                    p.sm Ширина календаря — это ширина постера и подложек под блоками.
                li
                    #format.dd-container
                    p.sm На выбор есть 3 размера: МИНИ, МИДИ, МАКСИ.
                li
                    #kind.dd-container
                    p.sm Выберете дизайн календарных блоков.
                li
                    #spring.dd-container
                    p.sm Количество пружин может быть 1 или 3.
                li
                    #field.dd-container
                    p.sm Календарь может быть с 1 или 3 или без рекламных полей.

        //- middle/preview
        .flexSingle.green
            i посмотреть
            a#preview.thumbnail.hide(href="http://www.printer-net.ru/images/calendar/1.jpg")
                img.poster-preview(src="http://www.printer-net.ru/images/calendar/1-low.jpg", alt="")
            
        .flexSingle.orange
            i выбрать цену
            .onlineOrderBlock
                em.blockTitle18 онлайн-заказ
                span.onNotice Удобный и выгодный способ заказа, работающий в режиме 
                    b 24/7
                .pricer
                    b#price_online 100 000
                a#submit_online.greeny(target="_blank", href="http://www.printer-net.ru/calendar/upload") Заказать онлайн

            .onlineOrderBlock
                em.blockTitle18 запрос по e-mail
                span.onNotice Напишите запрос, и наши менеджеры свяжутся с вами в ближайшее время!
                .pricer
                    b#price_email 120 000
                a#submit_email.greeny(target="_blank", href="http://www.printer-net.ru/calendar/email") Отправить запрос
            
            .onlineOrderBlock
                em.blockTitle18 заказ в офисе
                span.onNotice Хотите живого общения?<br>Выбирайте офис и приезжайте к нам!
                .pricer
                    b#price_office 140 000
                a#submit-office.greeny(target="_blank" href="http://www.printer-net.ru/info/offices") Выбрать офис