.card
    a(href="javascript: kind.onSelect(" + JSON.stringify(item) + ")")
        i.card-a-bg 
        b.card-a-btn
            i.nobr Выбрать
        .imm
            span.name #{item.text}
            img(alt="", src=item.src)
            span.price 
                | #{Math.floor(item.price/100)}
                sup #{Math.round(item.price % 100)}р.