#kind_select.kind-select
    .header
        strong.black Выберите календарный блок
        .fright.select
            select#kind_price
                option(value="-1") Цена
            select#kind_color
        .fright
            | Фильтр:&nbsp;
        
    .clearfix
    h3#kind_ofset_label Офсетные календарные блоки
    #kind_ofset_container.kind-select-container
    .clearfix
    h3#kind_mel_label Мелованные календарные блоки
    #kind_mel_container.kind-select-container
    .clearfix
    h3#kind_3in1_label Календарные блоки 3 в 1
    #kind_3in1_container.kind-select-container
    .clearfix