.container {
    width: 745px;
    margin: auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.kind-select {
    overflow:hidden;
    color:black;
    display: none;
    .header{
        background: lightgrey;
        padding: 8px 10px;
        margin-bottom:20px;
        select {
            background:grey;
        }
        .fright {
            float:right;
            div {
                display: inline-block
            }
            &.select{
                margin-top: -2px;
                .dd-container {
                    padding:0;
                    background:lightgrey;
                    .dd-select{
                        font-size:16px;
                        .dd-selected {
                            padding:2px 3px;
                            font-size:14px;
                            height:18px;
                        }
                    }
                    
                }
            }
        }
    }
    h3 {
        text-align: center;
        font-weight: bold;
    }
    .container {
        padding:10px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }
    .card {
        width:226px;
        height: 470px;
        margin: 10px 3px;
        position:relative;
        float: left;
        padding: 0;
        background: #cccccc;
        a {
            text-decoration:none;
            color:white;
            display: block;
            position: relative;
            height: 470px;
            width: 226px;
            i.card-a-bg {
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: #666666;
                opacity: 0.5;
                z-index: 2;
            }
            b.card-a-btn {
                display: none;
                position: absolute;
                left: 50%;
                top: 40%;
                z-index: 3;
                i {
                    position: relative;
                    font-weight: normal;
                    left: -50%;
                    top: -50%;
                    padding: 5px 20px 5px 25px;
                    font-style: normal;
                    font-size: 17px;
                    color: white;
                    text-decoration: none;
                    border: 1px solid #9b9b9b;
                    border-radius: 6px;
                    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
                    background-image: linear-gradient(to bottom,#c6d46e,#95b940);
                    background-repeat: repeat-x;
                }
            }
            &:hover {
                i.card-a-bg,
                b.card-a-btn {
                    display: block;
                }
            } 
            .imm {
                img {
                    border:1px solid grey;
                    width: 220px;
                    margin:2px;
                    position: absolute;
                    top:50px;
                }
                .name {
                    display:block;
                    color:black;
                    padding:5px;
                    font-weight:bold;
                    text-align:center;
                }
                .desc {
                    display: block;
                    color: black;
                    padding:5px;
                    font-size:14px;
                    overflow-wrap: normal;
                    word-wrap: normal;
                    word-break: normal;
                    line-break: auto;
                    hyphens: manual;
                }
                .price {
                    position: absolute;
                    
                    bottom: 0;
                    top: 440px;
                    left:50%;
                    margin-left:-50%;
                    width: 10px;
                    color:black;
                    display:block;
                    font-size:22px;
                    padding: 5px;
                    font-weight:bold;
                    sup {
                        font-size:16px;;
                    }
                }
            }
        }
        
    }
}

.dd-selected-text{
    display: inline-block;
    margin-bottom:0px;
    font-size: 110%;
    vertical-align: middle;
    padding-left: 5px;
}
.dd-selected-description-truncated {
    display: inline-block;
    font-size: 100%;
    vertical-align: middle;
}

.dd-container {
    background:grey;
    font-size:16px;
    width:auto;
    .dd-selected{
        overflow:hidden;
        padding:3px;
        ul.dd-options {
            li {
                padding:0;
                .dd-option {
                    padding:0;
                    margin:0;
                }
            }
        }
    }
}
#kind {
    .dd-container {
        .dd-selected {
            .dd-options {
                display: none;
            }
        }
    }
}
a.greeny {
    display:block; 
    padding:8px; 
    font-size:14px; 
    font-weight:700; 
    text-align:center; 
    color:#fff; 
    text-decoration:none; 
    border-radius:5px; 
    text-shadow:0 1px #575757; 
    box-shadow:2px 2px 2px #147b30; 
    margin:10px 0px 2px; z-index:2; 
    position:relative; 
    border:none; 
    cursor:pointer;
    background: linear-gradient(180deg, rgba(146,202,87,1) 0%, rgba(81,185,72,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ca57', endColorstr='#51b948',GradientType=0 ); /* ie6-9 */
    &:hover {
        opacity:.7; color:#fff
    }
}
.flexBlock {
    margin:0; 
    padding:20px 0 10px; 
    font-family:Tahoma; 
    display:flex;
    .flexSingle {
        border:2px solid; 
        border-radius:10px; 
        width:232px; 
        margin:0 8px; 
        position:relative; 
        background:#fff; 
        float:left;
        &:before {
            position:absolute; 
            left:50%; 
            margin-left:-25px; 
            width:50px; 
            line-height:50px; 
            height:50px; 
            top:-25px; 
            text-align:center; 
            font-size:50px; 
            color:#fff; 
            border-radius:25px;
        }
        .onlineOrderBlock {
            background:#e6e7e9; 
            padding:9px 10px; 
            margin:0 0 7px;
            .pricer {
                background:#fff; 
                border-radius:7px; 
                text-align:center;
                b {
                    display:inline-block; 
                    color:#c4121a; 
                    font-size:24px; 
                    font-weight:700;
                    &:after {
                        width:16px; 
                        height:21px; 
                        background:url(http://iprint.ru/img/rur16.gif) no-repeat; 
                        content:""; 
                        display:inline-block; 
                        left:5px; 
                        position:relative; 
                        top:7px; 
                        background-size:63%;
                    }
                }
            }
            em.blockTitle18 {
                color:#302d2e; 
                display:block; 
                font:700 15px Arial; 
                font-style:normal; 
                text-transform:uppercase; 
                text-align:center;
            }
            .onNotice {
                font-size:11px; 
                color:#72818c; 
                padding:4px 0 10px; 
                display:block; 
                text-align:center;
                b {
                    font-weight:700; 
                    color:#72818c; 
                    font-size:11px;
                }
            }
        }
    }
    i {
        display:block; 
        padding:29px 0 16px; 
        font-size:22px; 
        font-style:normal; 
        text-transform:uppercase; 
        text-align:center;
    }

    .flexSingle.blue {
        border-color:#007bc2;
        margin-left: 0;
        i {color:#007bc2}
        &:before {content:"1"; background:#007bc2;}
    }
    .flexSingle.green {
        border-color:#8bc63e;
        i {color:#8bc63e}
        &:before {content:"2"; background:#8bc63e;}
    }
    .flexSingle.orange {
        border-color:#ff9600;
        margin-right:0;
        i {color:#ff9600; padding-bottom:10px;}
        &:before {content:"3"; background:#ff9600;}
    }

    .calc {
        list-style: none;
        padding:0 5px;
        margin:0;
        li {
            margin:0 5px 15px 6px;
            position: initial;
            padding:0;
            select {
                border:1px solid #ccc; 
                height:20px; 
                width:100%; 
                border-radius:6px; 
                font:12px Tahoma; 
                margin:0 0 5px;
            }
            p.sm {
                color:#767881; 
                font:11px Arial; 
                text-align:center; 
                margin:0 10px;
            }
        }
        .dd-options {
            padding:0;
            li {
                padding:0;
                margin:0;
            }
        }
    }
    .poster-preview {
        width:184px; 
        display:block; 
        margin:0 auto 47px;
    }
}